.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    padding: 16px;
}

.alert--success {
    background: rgba(71, 215, 58, 0.1);
    color: #6cc551;
    /* color: #2a910b; */
}

.alert--warn {
    background: rgba(242, 136, 61, 0.10);
    color: #F2883D;
}

.alert--error {
    background: rgba(239, 42, 42, 0.1);
    color: #F23152;
}

.alert__icon {
    background-image: url("../../../public/svg/alert.svg");
    height: 16px;
    width: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.disabled {
    display: none;
}
